.islem{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pacha{
  border-radius: 10px;
  background-color: bisque;
  text-decoration: none;
}
.Sgreen{
  color: green;
}
.Sred{
  color: red;
}
.aa{
  margin-left: 196px;
  margin-top: -47px;
  
}
.zz{
  margin-left: 181px;
  
  margin-top: -37px;
  margin-bottom: 31px;
}
